#parse("publico/header.vm")

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h4 class="font-weight-normal text-center">Lista de Enlaces</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 50%;">Original</th>
                        <th scope="col">Acortado</th>
                        <th scope="col">Total Visitas</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($link in $links)
                        <tr>
                            <td>$link.URL</td>
                            <td>$link.EnlaceAcortado/td>
                            <td>$link.CantVecesAccedidas</td>
                            <td>
                                <a class="btn btn-primary" href="/ver/$link.idUrl">Ver</a>

                                #if($usuario.rol == "ROLE_ADMIN")
                                    <form action="/eliminar/enlace/$link.idUrl" method="post" style="display: inline;">
                                        <button class="btn btn-warning" type="submit">Eliminar Enlace</button>
                                    </form>
                                #end
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

#parse("publico/footer.vm")
