#parse("publico/header.vm")

<div class="card m-auto mt-3" style="max-width: 80%">
    <div class="card-header">
        <h4 class="font-weight-normal  text-center"> Lista de Enlaces </h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th style="max-width: 50%">Original</th>
                <th >Acortado</th>
                <th >Total Visitas</th>
                <th >Opciones</th>
            </tr>
            </thead>
            <tbody>
                #foreach($link in $links)
                <tr>
                    <td style="max-width: 50%">$link.URL</td>
                    <td>$link.URLAcostarda</td>
                    <td>$link.vecesAccesidas</td>
                    <td><a class="btn btn-primary" href="/ver/$link.idEnlace">Ver</a>

                    #if($usuario.rol == "ROLE_ADMIN")
                        <form action="/eliminar/enlace/$link.idEnlace" method="post">
                            <button class="btn btn-warning" type="submit">Eliminar Enlace</button></td>
                        </form>
                    #end
                #end
            </tr>
            </tbody>
        </table>
    </div>
</div>

#parse("publico/footer.vm")