
<!-- JS de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-KyZsUJpYUyBzU6kmfkp2EJm0nTnT6T/xBzU9WW6wpWRd6hbYxC+UQLm6hKTdNq3w" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-QQ6UvwNR6oUGQb8n3qDfPhn/rT+NfvRfwMw8CZnFsp/xlbveUCPdJ6KjtvW8gO6d" crossorigin="anonymous"></script>
</body>
</html>
